<div class="card">
    <div class="card-body">
        <h2 class="box-title">Evite problemas futuros</h2>


        <div class="col-lg-12 col-md-12 col-sm-12">
            <p class="f-s-12">Esse site existe para te auxiliar no momento de realizar testes de softwares em
                desenvolvimento. Ou
                seja, é voltado para desenvolvedores, os próprios testadores de softwares, analistas de sistemas,
                administradores de banco de dados e até mesmo estudantes de alguma dessas áreas.
            </p>
            <p class="f-s-12">
                Todos os números gerados em nosso site são de forma aleatória e com respeito às regras existentes.
                Por isso, evite problemas futuros e utilize essa ferramenta com precaução e consciente de seus atos.
            </p>
            <p class="f-s-12">
                <strong>Atenção:</strong> utilizar os dados aqui gerados de forma incorreta é de total
                responsabilidade do próprio
                usuário.
            </p>
            <br />
        </div>
    </div>
</div>