<div class="card">
    <div class="card-body">
        <h1 class="box-title">Gerar Cartão de Crédito</h1>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="card-body">
                <p class="text-muted m-b-15 font-12">Clique no botão "Gerar Cartão de Crédito" para gerar quantos
                    números válidos
                    quiser de Cartão de Crédito! Você ainda pode escolher o estado de origem e a formatação com
                    pontuação, caso
                    desejar.</p>
                <div class="row m-b-20">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p class="text-muted">Número do Cartão</p>
                        <div class="textarea-copy-container">
                            <textarea id="cpf" class="form-control input-lg field-copy" type="text" [(ngModel)]="numero"
                                readonly="">28732393288</textarea>
                            <span title="Copiar" class="btn-textarea-copy" (click)="copiar()"><i
                                    class="fa fa-files-o"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <p class="text-muted">Data de Validade</p>
                        <div class="textarea-copy-container">
                            <textarea id="field-expiration-date"
                                class="form-control m-b-20-max-768 input-lg field-copy-2" type="text" readonly=""
                                [(ngModel)]="dataValidade">05/09/2027</textarea>
                            <span title="Copiar" class="btn-textarea-copy-2"><i class="fa fa-files-o"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <p class="text-muted">CVV</p>
                        <div class="textarea-copy-container">
                            <textarea id="field-cvv" class="form-control input-lg field-copy-3" type="text" readonly=""
                                [(ngModel)]="cvv">232</textarea>
                            <span title="Copiar" class="btn-textarea-copy-2"><i class="fa fa-files-o"></i></span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row m-b-15">
                    <div class="col-md-4">
                        <small class="text-muted">Selecione a Bandeira</small>
                        <select id="cpfState" class="form-control input-lg-select" [(ngModel)]="flag"
                            (change)="gerarCartaoDeCredito()">
                            <option value="" selected="">Aleatório</option>
                            <option value="0">VISA</option>
                            <option value="1">MASTERCARD</option>
                            <option value="2">ELO</option>
                            <option value="3">DISCOVER</option>
                        </select>
                    </div>
                </div>
                <div class="botoes">
                    <button type="submit" class="btn btn-info btn-md m-b-10 m-l-5"
                        (click)="gerarCartaoDeCredito()">Gerar
                        Cartão de Crédito</button>
                    <button type="submit" class="btn btn-primary btn-md m-b-10 m-l-5" (click)="gerarCopiar()">Gerar e
                        Copiar
                        Cartão de Crédito</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4731566944813042"
                crossorigin="anonymous"></script>
            <!-- 4DT-gerar-cartaocredito-quadrado -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4731566944813042"
                data-ad-slot="4301582797" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4731566944813042"
                crossorigin="anonymous"></script>
            <!-- 4DT-gerar-cartaocredito-horizontal -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4731566944813042"
                data-ad-slot="8336196573" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>
<app-vejatambem></app-vejatambem>
<app-queroajudar></app-queroajudar>
<app-aviso></app-aviso>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h2 class="box-title f-s-20 m-b-10">Cartão de Crédito: tudo sobre essa ferramenta</h2>

                <p>O cartão de crédito se tornou um dos queridinhos dos brasileiros, sendo que todo mundo possui pelo
                    menos
                    uma
                    opção de crédito em sua carteira. Mas, ele pode ser um grande vilão se essas pessoas não souberem
                    lidar
                    com
                    uma opção de gastar dinheiro sem ao menos ter dinheiro para gastar ainda.</p>

                <p>O único limite que é definido é o que o cartão possibilita. Do contrário, seria possível gastar muito
                    dinheiro sem que haja uma garantia de pagamento em algum momento.</p>

                <p>No final, o valor gasto só é pago quando é feito o fechamento da fatura do cartão. Ou seja, é
                    levantado
                    todo
                    o valor gasto no período de um mês (sendo possível selecionar a data de fechamento conforme seja
                    mais
                    fácil
                    para a realização do pagamento) e é feito o pagamento de todos os gastos de uma só vez.</p>

                <p>Quando o pagamento não é efetuado ou é feito com atraso, haverá juros em cima desse valor que irão
                    crescer
                    cada dia que passar.</p>

                <p>Hoje em dia é muito mais fácil ter um cartão de crédito, principalmente com as versões digitais que
                    facilitam o processo e tudo pode ser feito no próprio celular de quem está solicitando. O Nubank e o
                    Inter,
                    por exemplo, são opções de cartões de crédito de fácil acesso e sem anuidade.</p>

                <p>O cartão de crédito sem anuidade foi uma das novidades que chegaram há alguns anos e estão tomando
                    conta
                    do
                    mercado. Afinal, se existe uma opção onde você não precisa pagar nada para ter o seu cartão é melhor
                    utilizá-la do que pagar por um mesmo tipo de serviço.</p>

                <p> Tanto pessoa física quanto pessoa jurídica podem solicitar o cartão de crédito. Em ambos os casos é
                    feito
                    uma verificação do perfil do solicitante (principalmente se possui dividendos e qual a renda mensal
                    atual).
                </p>

                <p>Informações como as citadas acima são importantes para saber se a pessoa será aprovada ou não na
                    análise
                    de
                    crédito. Sendo aprovada, o limite do cartão pode ser definido de acordo com o valor que o consumidor
                    recebe
                    de renda mensalmente.</p>

                <p>É uma forma de evitar que ultrapassem os gastos de acordo com o valor que ele pode pagar. Assim, o
                    banco
                    se
                    protege de possíveis não pagamentos.</p>

                <p>E sim, é possível ter sua solicitação de crédito negada pelos mesmos motivos que citamos acima. Se
                    você
                    possui muitas dívidas, não pagou as últimas contas em dia ou não possui uma renda mensal,
                    possivelmente
                    você
                    terá dificuldades para conseguir solicitar um cartão de crédito pessoal.</p>

                <p>Existem opções que aceitam mesmo nessas condições, mas envolverá outras questões (como taxas mais
                    altas)
                    para garantir certa segurança.</p>


                <h2 class="box-subtitle">Gerador de cartão de crédito</h2>

                <p>Um <a href="/gerar-cartaodecredito">gerador de cartão de crédito</a> serve para auxiliar nos testes
                    de softwares e é voltado para quem
                    está estudando assuntos da área, quem já trabalha com programação e analistas de dados.</p>

                <p>É uma forma de testar o serviço que será oferecido antes de pôr no ar, evitando desgaste do
                    consumidor e
                    do
                    próprio profissional que estará responsável pela ação.</p>

                <p>Utilizar esses dados para realizar atividades ilegais é algo antiético e não deve ser feito em nenhum
                    momento.</p>


                <h2 class="box-subtitle">Conclusão</h2>

                <p>Ter um cartão de crédito é algo que requer muita responsabilidade, assim como utilizar o gerador de
                    cartão de crédito para a realização de testes de software e demais ações necessárias para colocar um
                    programa para funcionar.</p>

                <p>Ao utilizar o gerador de cartão de crédito, esteja ciente de que se trata de um material para teste e
                    não para fins ilegais. Portanto, utilize com sabedoria e evite problemas futuros.</p>

                <p>Esperamos que o nosso gerador possa lhe ajudar a realizar seus <a
                        href="/gerar-cartaodecredito">testes</a> e concluir seus estudos.</p>

            </div>
        </div>
    </div>
</div>