<div class="row">

    <div class="card">

        <img class="card-img-top" src="/assets/images/ethereum.png" alt="Ethereum" />

        <div class="card-body">
            <h1 class="box-title f-s-18">Ethereum: o que é e como funciona?</h1>
            <p>
                O Ethereum, assim como o Bitcoin, é uma das criptomoedas mais importantes que existem atualmente. Ela
                fica
                atrás apenas no próprio Bitcoin - que é a maior que temos nos dias de hoje. De acordo com a Wikipedia,
                “Ethereum é uma plataforma descentralizada capaz de executar contratos inteligentes e aplicações
                descentralizadas usando a tecnologia blockchain. São aplicações que funcionam exatamente como
                programadas
                sem qualquer possibilidade de censura, fraude ou interferência de terceiros, isso porque o contrato é
                imutável.”
            </p>
            <p>
                Ela funciona através da tecnologia que a blockchain oferece. A blockchain, para quem não conhece ainda,
                é um
                tipo de banco de dados. Assim como o Bitcoin, já tinha sido pensado há muito tempo mas só veio a ser
                testado
                na prática em meados de 2009 com o surgimento do próprio Bitcoin.
            </p>
            <p>
                Através da blockchain é feita a troca de informações, tanto para enviar quanto para receber,
                conectando-as e
                armazenadas em formatos de quadrados, um bloco, caixa. Daí que vem o nome blockchain, que na tradução
                para o
                português significa “cadeia de blocos”.
            </p>
            <p>
                No Ethereum, os pagamentos são feitos com a criptomoeda ETH - que significa Ether. Tudo pode ser feito
                por
                lá, como realizar negociações, contratos, dentre outras atividades realizadas pelos investidores.
            </p>
            <p>
                O Ether e o Ethereum possuem uma similaridade muito próxima, quase não existindo diferenças. Por isso,
                eles
                são considerados sinônimos e falar de um é a mesma coisa que falar do outro.
            </p>
            <p>
                Essa ideia começou a nascer em 2013, onde Vitalik Buterin decidiu compartilhar sua ideia e acabou
                conseguindo o investimento necessário para tirar esse grande avanço do papel. Como muitos outros avanços
                que
                surgem, o Ethereum nasceu com o intuito de melhor o Bitcoin - ou seja, oferecer um serviço superior e da
                mesma magnitude.
            </p>
            <p>
                Ele ainda não ultrapassou o Bitcoin, mas já possui grande importância e espaço no mercado das moedas
                digitais - não é atoa que ele está na segunda posição das criptomoedas mais importantes existentes.
            </p>
            <p>
                Ele só veio a ser lançado no mercado em 2015, mais de 5 anos depois do Bitcoin. Foram muitos anos de
                investimentos e dedicação para fazer com que o Ethereum se tornasse um sucesso.
            </p>
            <p>
                Com o passar dos anos, muitas novidades foram lançadas e atualizações foram feitas para garantir que os
                usuários pudessem ter o maior nível de segurança possível em suas negociações. Isso já é algo comum no
                meio
                digital, onde estamos sempre realizando atualizações, seja em um app de celular, um software, no mercado
                das
                criptomoedas e muito mais.</p>

            <h2 class="box-subtitle">Conclusão</h2>

            <p>Você conhecia o Ethereum, ou Ether, ou apenas tinha ouvido falar no Bitcoin? Mesmo existindo mais de 3
                mil
                opções de criptomoedas, muitas acabam não ficando conhecidas por conta do alcance que o Bitcoin possui.
                Mas,
                agora você também conhece a segunda maior criptomoeda existente, o Ethereum.
            </p>
            <p>
                Essa moeda digital é um dos grandes avanços dos últimos anos, se mostrando cada dia mais possível se
                tornar
                algo ainda maior do que já é. Assim como o Bitcoin, seu preço é muito elevado e requer um grande
                investimento para começar.
            </p>
            <p>
                Se você possui o valor para investir em criptomoedas como o Ethereum e o Bitcoin, aproveite a
                oportunidade
                para começar seus investimentos no mundo das moedas digitais.
            </p>
            <p>
                Se gostou desse conteúdo, salve o nosso site para voltar e verificar informações como essa, além de
                poder
                utilizar nossos geradores de números (título de eleitor, cartão nacional de saúde, dentre diversos
                outros)
                para a realização de testes de software e estudos.
            </p>
            <p>
                É importante ressaltar que nossos geradores só podem ser utilizados para esses fins, sendo ilegal
                utilizar
                informações falsas para ações reais. O uso indevido dessas informações é de total responsabilidade do
                usuário em questão.
            </p>


        </div>
    </div>
</div>

<app-leiatambem></app-leiatambem>