<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/CPF.png" alt="CPF">
            <div class="card-body">
                <h4 class="card-title mb-3 box-title">CPF: o que é e qual sua função?
                </h4>
                <p class="card-text">CPF é a sigla usada para Cadastro de Pessoa Física, que existe para que cada
                    indivíduo
                    residente do território brasileiro tenha sua própria identificação. </p>
                <p>No total, são 11 números aleatórios que formam o CPF de uma pessoa física.</p>
                <a href="blog/cpf" class="btn btn-info">Veja Mais...</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/CNPJ.png" alt="CNPJ">
            <div class="card-body">
                <h4 class="card-title mb-3 box-title">CNPJ: o que é e como funciona?
                </h4>
                <p class="card-text">Se você não tem um CNPJ não é algo preocupante quanto não ter um CPF. Isso porque,
                    enquanto o CPF é o Cadastro de Pessoa Física, o CNPJ se trata de um Cadastro Nacional de Pessoa
                    Jurídica. Ou seja, só possui um CNPJ quem quer abrir uma empresa ...</p>

                <a href="blog/cnpj" class="btn btn-info">Veja Mais...</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/cartaocredito.png" alt="Cartão de Crédito">
            <div class="card-body">
                <h4 class="card-title mb-3 box-title">Cartão de Crédito: tudo sobre essa ferramenta
                </h4>
                <p class="card-text">CPF é a sigla usada para Cadastro de Pessoa Física, que existe para que cada
                    indivíduo
                    residente do território brasileiro tenha sua própria identificação. </p>
                <p>No total, são 11 números aleatórios que formam o CPF de uma pessoa física.</p>
                <a href="blog/cartaocredito" class="btn btn-info">Veja Mais...</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/renavam.png" alt="Renavam">
            <div class="card-body">
                <h4 class="card-title mb-3 box-title"> RENAVAM: Do que se trata e para que ele serve?</h4>
                <p class="card-text">RENAVAM é a sigla utilizada para definir Registro Nacional de Veículos Automotores.
                    Através desse código, a pessoa que estiver fazendo a verificação terá acesso a diversas informações
                    sobre o automotor. Por exemplo, é possível consultar a cor, o ano de fabricação, chassi, informações
                    sobre o proprietário do automotor, dentre diversas outras.</p>
                <a href="blog/renavam" class="btn btn-info">Veja Mais...</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/titulo-eleitor.png" alt="Título de Eleitor">
            <div class="card-body">
                <h4 class="card-title mb-3 box-title">Título de Eleitor: o que é, para que serve e como funciona o
                    gerador?
                </h4>
                <p class="card-text">O título de eleitor é aquele documento que comprova que você, como cidadão, está
                    inscrito na Justiça Eleitoral do Brasil. Ou seja, pode exercer a sua função nas urnas como um
                    cidadão brasileiro ou justificar o seu voto em casos específicos.
                </p>

                <a href="blog/tituloeleitor" class="btn btn-info">Veja Mais...</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/CNS.png" alt="CNS">
            <div class="card-body">
                <h4 class="card-title mb-3 box-title">CNS: o que é e quais seus benefícios

                </h4>
                <p class="card-text">CNS é a sigla para Cartão Nacional de Saúde, que se trata do cartão que é feito
                    para os cidadãos que utilizam o Sistema Único de Saúde, o SUS. Como em outros tipos de cartões
                    médicos, como os de planos de saúde, ele possui os dados do paciente (nome, endereço, data de
                    nascimento, nome da mãe, dentre outros) </p>
                <a href="blog/cns" class="btn btn-info">Veja Mais...</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/pispasep.png" alt="PISPASEP">
            <div class="card-body">
                <h4 class="card-title mb-3 box-title"> PIS PASEP: o que é e quem tem direito??</h4>
                <p class="card-text">PIS é a sigla para Programa de Integração Social e PASEP é a sigla para Programa de
                    Formação do Patrimônio do Servidor Público. Juntos, eles possuem o objetivo de auxiliar
                    trabalhadores de baixa renda. Caso já tenha trabalhado de carteira assinada, você já deve conhecer
                    essas siglas.
                </p>
                <a href="blog/pispasep" class="btn btn-info">Veja Mais...</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/bitcoin.png" alt="BitCoin">
            <div class="card-body">
                <h4 class="card-title mb-3 box-title">Bitcoin: entenda o que são essas criptomoedas</h4>
                <p class="card-text">Você já deve ter ouvido falar em Bitcoin em algum momento nos últimos anos, afinal
                    tudo indica que elas serão muito importantes em um futuro próximo. Se trata de uma moeda digital, ou
                    seja, ela só existe no meio virtual (até então). Também são conhecidas como criptomoedas, e
                    adquiri-las requer um grande investimento em dinheiro.</p>

                <a href="blog/bitcoin" class="btn btn-info">Veja Mais...</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/ethereum.png" alt="Ethereum">
            <div class="card-body">
                <h4 class="card-title mb-3 box-title">Ethereum: o que é e como funciona?</h4>
                <p class="card-text">O Ethereum, assim como o Bitcoin, é uma das criptomoedas mais importantes que
                    existem atualmente. Ela fica atrás apenas no próprio Bitcoin - que é a maior que temos nos dias de
                    hoje. De acordo com a Wikipedia, “Ethereum é uma plataforma descentralizada capaz de executar
                    contratos inteligentes e aplicações descentralizadas usando a tecnologia blockchain.</p>
                <a href="blog/ethereum" class="btn btn-info">Veja Mais...</a>
            </div>
        </div>
    </div>
</div>