<div class="row">
    <div class="card">
        <div class="card-body">
            <h2 class="box-title">Sobre</h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card-body">
                    <p>Criado no ano de 2022, o 4DEVTOOLS é uma ferramenta gratuita que reúne várias funcionalidades com
                        a
                        intenção de ajudar
                        desenvolvedores, analistas de sistemas, DBAs, testadores de softwares, estudantes e afins.</p>

                    <p>
                        São diversas funcionalidades para gerar e validar documentos, normalmente necessários para
                        testar
                        softwares em
                        desenvolvimento. Os números são gerados de forma aleatória, respeitando as regras de criação de
                        cada
                        documento.
                    </p>

                    <p>Esperamos que esta ferramenta possa ser útil para suas rotinas de testes ou em suas respectivas
                        tarefas.</p>

                    <p>Informação importante: O uso incorreto dos dados aqui gerados são de total responsabilidade do
                        usuário.
                        Todos os conteúdos e dados desta ferramenta são apenas para fins informativos, dessa forma não
                        devem
                        ser
                        considerados completos, atualizados e não se destinam a ser utilizados no lugar de uma consulta
                        jurídica, médica, financeira, ou
                        de qualquer outro profissional</p>
                </div>
            </div>
        </div>
    </div>
</div>