<div class="container-fluid padding-0">
    <div class="card">
        <div class="card-body">
            <h1 class="box-title m-b-10">Cotações Diárias</h1>
            <div class="row  p-l-10 p-r-10">
                <div class="col-md-4">
                    <app-dollar></app-dollar>
                </div>
                <div class="col-md-4">
                    <app-euro></app-euro>
                </div>
                <div class="col-md-4">
                    <app-bitcoin></app-bitcoin>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2 class="box-title">Geradores de Documentos</h2>
            <br />
            <div class="row">
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="box-title">Gerar CPF</h2>
                            <app-gerar-cpf></app-gerar-cpf>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="box-title">Gerar CNPJ</h2>
                            <app-gerar-cnpj></app-gerar-cnpj>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="box-title">Gerar CNH</h2>
                            <app-gerar-cnh></app-gerar-cnh>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-vejatambem></app-vejatambem>
<app-queroajudar></app-queroajudar>
<app-aviso></app-aviso>