<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 mb-3 d-flex align-items-stretch">
            <div class="card">
                <div class="card-body">
                    <h2 class="box-title">Gerar CPF</h2>
                    <app-gerar-cpf></app-gerar-cpf>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3 d-flex align-items-stretch">
            <div class="card">
                <div class="card-body">
                    <h2 class="box-title">Gerar CNPJ</h2>
                    <app-gerar-cnpj></app-gerar-cnpj>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3 d-flex align-items-stretch">
            <div class="card">
                <div class="card-body">
                    <h2 class="box-title">Gerar CNH</h2>
                    <app-gerar-cnh></app-gerar-cnh>
                </div>
            </div>
        </div>
    </div>
</div>