<div class="card">
    <div class="card-body">
        <h2 class="box-title">O que achou dessas ferramentas?</h2>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p class="f-s-12">Nosso intuito é estar sempre atualizados para que possamos oferecer uma ferramenta
                completa e que
                seja
                útil para você que nos procura quando precisa. Se o nosso trabalho tem feito a diferença no seu dia
                a
                dia realizando testes, clique no botão abaixo para contribuir com essa causa.</p>
            <br />
            <a href="/buy-me-a-coffe" class="btn btn-info btn-md m-b-10 m-l-5">Quero Ajudar</a>

        </div>
    </div>
</div>