.input_copy_wrapper {
    width: 500px;
    padding: 50px;
    margin: 0 auto;
}
.input_copy {
    padding: 15px 25px;
    background: #eee;
    border: 2px solid #8b52ff;
    color: #8b52ff;
    font-size: 1em;
    overflow: hidden;
}

.input_copy .icon {
    display: block;
    max-width: 20px;
    cursor: pointer;
    float: right;
}

.input_copy .icon img {
    max-width: 25px;
}
.input_copy .txt {
    width: 80%;
    display: inline-block;
    overflow: hidden;
}

/* click animation */

.flashBG {
    animation-name: flash;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}

@keyframes flash {
    0% {
        background: #28a745;
    }
    100% {
        background: transparent;
    }
}
