<div class="card">
    <div class="card-body">
        <h2 class="box-title">Versões</h2>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <p>A seguir estão todas as versões do 4DevTools, listadas em ordem cronológica, junto com as informações
                    de mudanças significativas para cada versão.</p>

                <hr />
                <strong>Versão: 1.0.1 – 14/02/2022</strong>
                <p>Ajuste da Busca de Renavam - Gerar Pessoa </p>
                <hr />
                <strong>Versão: 1.0.0 – 29/01/2022</strong>
                <p>Criado Gerador de CPF, CNPJ, Pessoa e Cartão de Crédito</p>
                <hr />
            </div>
        </div>
    </div>
</div>