<div class="row">

    <div class="card">

        <img class="card-img-top" src="/assets/images/CNPJ.png" alt="CPF" with="100vh">

        <div class="card-body">
            <h1 class="box-title f-s-18">CNPJ: o que é e como funciona?</h1>
            <p>Se você não tem um CNPJ não é algo preocupante quanto não ter um CPF. Isso porque, enquanto o CPF é o
                Cadastro de Pessoa Física, o CNPJ se trata de um Cadastro Nacional de Pessoa Jurídica. Ou seja, só
                possui um
                CNPJ quem quer abrir uma empresa ou qualquer outro tipo de negócio que precise dessa documentação.</p>
            <p>Ele é basicamente o registro da sua empresa, tornando-o um negócio legalmente aceito, ou seja,
                regularizado.
                Pode se dizer que ele possui a mesma função do CPF, mas dessa vez voltado para a pessoa jurídica.</p>
            <p>É através do Cadastro Nacional de Pessoa Jurídica que o governo poderá acompanhar as transações
                financeiras,
                se o pagamento dos impostos estão em dia, dentre outros detalhes importantes no meio jurídico de uma
                empresa. Todo esse acompanhamento é feito pela Receita Federal, assim como com o CPF.</p>
            <p>O CNPJ vai além das empresas, também sendo necessário para outras instituições que realizam uma certa
                movimentação de dinheiro. Por exemplo, uma ONG necessita ter seu próprio Cadastro Nacional de Pessoa
                Jurídica. Além dela, sindicatos e associações também precisam estar registrados como CNPJ.</p>
            <p>Sem esse registro sua empresa não existe legalmente, ou seja, poderá haver muitos problemas por conta
                disso.
                Ele também irá proporcionar diversos benefícios e funcionalidades necessárias para que sua empresa
                avance no
                mercado.</p>
            <p>Por exemplo, só é possível abrir uma conta PJ - Pessoa Jurídica - se sua empresa for registrada como
                CNPJ. E
                essa opção é importante para saber separar suas finanças e ter um controle financeiro melhor sobre o que
                é
                pessoal e o que é jurídico.</p>
            <p>Com a conta de Pessoa Jurídica vem também benefícios, como pagar taxas mais acessíveis, não precisar
                pagar
                mensalidades (em alguns casos), além de poder fazer PIX e transferências bancárias sem custos
                adicionais.</p>
            <h2 class="box-subtitle">CNPJ para Emitir Nota Fiscal</h2>

            <p>Emitir nota fiscal é garantir que sua empresa esteja seguindo as regras perante a Lei. Além disso, é uma
                forma de oferecer tudo que o seu consumidor precisa para uma troca correta e atendendo todas as
                expectativas.</p>
            <p>E só é possível fazer uma emissão de nota fiscal de sua empresa se ela existir legalmente, ou seja, se
                ela
                possuir o Cadastro Nacional de Pessoa Jurídica - o CNPJ.</p>

            <h2 class="box-subtitle">CPF na nota fiscal</h2>

            <p>Ao
                contr&aacute;rio do que muitos acreditam, o CPF na nota est&aacute; mais
                relacionado com o com&eacute;rcio do que com voc&ecirc; - como pessoa
                f&iacute;sica.</p>

            <p>Ao
                pedir o CPF na nota fiscal, voc&ecirc; est&aacute; contribuindo para o combate
                &agrave; pirataria e, principalmente, a sonega&ccedil;&atilde;o de impostos por
                parte da empresa em que est&aacute; realizando uma compra. (Exemplo: um
                supermercado, loja de roupas, etc)</p>

            <p>Essa
                iniciativa por parte do governo estadual tem ajudado a combater esses males,
                al&eacute;m de ajudar a controlar o Imposto sobre Circula&ccedil;&atilde;o de
                Mercadorias e Servi&ccedil;os - conhecido como ICMS.</p>

            <p>Al&eacute;m desse lado mais jur&iacute;dico, o CPF na nota
                fiscal pode trazer diversos benef&iacute;cios para o consumidor. Por exemplo,
                &eacute; poss&iacute;vel oferecer descontos, concorrer a pr&ecirc;mios, resgate
                de cr&eacute;dito, e muito mais. Essas op&ccedil;&otilde;es variam de acordo com
                o com&eacute;rcio, sendo algo de escolha deles.</p>

            <h2 class="box-subtitle">CNPJ regularizado é sinal de comprometimento</h2>

            <p>Ter a sua empresa em dia com o CNPJ significa que você se importa com todas as transações feitas e de
                forma
                legal. Além disso, é uma forma de evitar ser penalizado em possíveis fiscalizações.
            </p>
            <p> E para manter tudo em dia, de forma correta, não basta apenas ter o CNPJ. Também é necessário que haja
                alguém responsável para fazer o levantamento de todas as transações financeiras que existirem em nome de
                sua
                empresa.
            </p>
            <p> O melhor é ter uma equipe capacitada para a realização dessas tarefas, garantindo que tudo esteja em
                ordem
                com o que é definido pela Lei.</p>

            <p>E para contratar pessoas, é preciso ter o CNPJ registrado. Ou seja, sua empresa só poderá crescer se ela
                tiver um registro oficial de que se trata de um negócio real e com o objetivo de crescer no mercado.</p>

            <p>Além de tudo isso, é uma forma de se assegurar de que as empresas que você está lidando são confiáveis,
                assim como os demais farão consultando a sua empresa.</p>


            <h2 class="box-subtitle">Conclus&atilde;o</h2>

            <p>O CNPJ é indispensável caso você queira ter um negócio real e duradouro. Além dos diversos benefícios que
                você recebe tendo feito esse cadastro, você estará garantindo a legalidade de seu negócio e mostrando ao
                consumidor que o seu negócio é algo sério e dentro da Lei.</p>

            <p> Passar essa segurança é essencial para o crescimento do negócio e demais demandas que vierem a surgir a
                partir disso.</p>

        </div>
    </div>
</div>

<app-leiatambem></app-leiatambem>