<div class="row">

    <div class="card">

        <img class="card-img-top" src="/assets/images/pispasep.png" alt="Cartão de Crédito" />

        <div class="card-body">
            <h1 class="box-title f-s-18">PIS PASEP: o que é e quem tem direito?
            </h1>

            <p>PIS é a sigla para Programa de Integração Social e PASEP é a sigla para Programa de Formação do
                Patrimônio
                do Servidor Público. Juntos, eles possuem o objetivo de auxiliar trabalhadores de baixa renda. Caso já
                tenha
                trabalhado de carteira assinada, você já deve conhecer essas siglas.
            </p>
            <p>
                O PIS é aquele abono que ficará disponível para você através de outros meios, como o FGTS (Fundo de
                Garantia
                do Tempo de Serviço) e o seguro desemprego. É uma forma de garantir ao trabalhador um dinheiro de
                segurança,
                para ajudá-lo no período em que ele estiver desempregado e sem nenhuma fonte de renda.
            </p>
            <p>
                Para ter o seu número do PIS, você precisará assinar sua carteira. Por isso, no seu primeiro emprego de
                carteira assinada a empresa em questão fará o seu cadastro no PIS. Assim, daí em diante, você estará
                “recebendo” um certo valor. Ele ficará guardado até o momento que seja permitido fazer sua retirada.
            </p>
            <p>
                A diferença entre o PIS e o PASEP não é grande, está apenas relacionada a quem fará o pagamento do valor
                mensalmente. No caso do PIS, é a empresa que faz o pagamento, enquanto do PASEP quem faz o pagamento é o
                órgão público responsável pelo funcionário.
            </p>
            <h2 class="box-subtitle">Quem tem direito ao PIS PASEP?</h2>

            <p>Para ter direito ao PIS PASEP basta ter tido sua carteira assinada por um determinado período de
                trabalho.
                Tanto profissionais da área privada quanto da área pública possuem esse direito.
            </p>
            <p>
                Após 5 anos de contribuição, ele tem direito a retirar o dinheiro que foi guardado durante esse período
                de
                tempo.
            </p>
            <p>
                Pessoas que já se aposentaram, aqueles que já tiverem acima de 60 anos, portadores de deficiência e
                várias
                outras minorias (como quem tem AIDS, por exemplo) possuem direito às cotas que o PIS oferece.
            </p>
            <p>
                Quando envolve o falecimento da pessoa que receberia esse valor em dinheiro, ele irá para o dependente
                dessa
                pessoa ou seus sucessores. Sendo assim, de uma forma ou de outra, o valor é entregue para quem tiver
                direito.
            </p>
            <p>
                E para saber se você já tem direito ao PIS PASEP, basta ter o seu número. Assim, você poderá entrar no
                site
                “Meu INSS” e fazer a consulta.
            </p>
            <p>
                A informação estará na aba “Meu cadastro” e você poderá verificar sempre que
                precisar.
            </p>
            <p>
                Para acessar o saldo, você precisará utilizar outro app, que é o “Caixa Trabalhador”.
            </p>
            <p>

            <h2 class="box-subtitle">Gerador do número de PIS PASEP</h2>

            <p> O gerador do número de PIS PASEP serve para a realização de testes para auxiliar nos testes de softwares
                e é
                voltado para quem está estudando assuntos da área, quem já trabalha com programação e analistas de
                dados.
            </p>
            <p>
                É uma forma de testar o serviço que será oferecido antes de pôr no ar, evitando desgaste do consumidor e
                do
                próprio profissional que estará responsável pela ação.
            </p>
            <p>
                Utilizar esses dados para realizar atividades ilegais é algo antiético e não deve ser feito em nenhum
                momento. Portanto, utilize apenas para fins educativos e para testes de softwares - que é para que essa
                funcionalidade foi idealizada.
            </p>
            <h2 class="box-subtitle">Conclusão</h2>

            <p>Você sabia que o PIS PASEP tinha tão pouca diferença entre eles? A diferença está em quem fará o
                pagamento
                mensalmente. Tirando isso, eles possuem o mesmo objetivo que é ajudar o profissional de baixa renda a
                ter um
                dinheiro disponível para um momento de necessidade.
            </p>
            <p>
                Ao utilizar o gerador do número de PIS PASEP, esteja ciente de que se trata de um material para teste e
                não
                para fins ilegais. Portanto, utilize com sabedoria e evite problemas futuros.
            </p>
            <p>
                Esperamos que o nosso gerador possa lhe ajudar a realizar seus testes e concluir seus estudos. Para
                consulta
                de demais números, confira na aba lateral todas as possibilidades oferecidas aqui em nosso site.
            </p>


        </div>
    </div>
</div>

<app-leiatambem></app-leiatambem>