<router-outlet></router-outlet>

<div class="cookie-container">
    <p> Nós e os terceiros selecionados usamos cookies ou tecnologias similares para
        finalidades técnicas e, com seu consentimento, outras finalidades,
        conforme especificado na <a href="/politica-de-privacidade">política de cookies</a>.
        Você poderá livremente conceder, negar ou cancelar sua permissão a qualquer momento.

        Você poderá consentir o uso de tais tecnologias ao usar o botão “Aceitar”.</p>
    <button class="btn btn-info" (click)="AcceptCookie()">Aceitar</button>
</div>