<div class="card">
    <div class="card-body">
        <h2 class="box-title">Validador de CPF</h2>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="card-body">
                <p class="text-muted m-b-15 font-12">O CPF é formado por 11 dígitos numéricos que seguem a máscara
                    "###.###.###-##", a verificação do CPF acontece utilizando os 9 primeiros dígitos e, com um cálculo
                    simples, verificando se o resultado corresponde aos dois últimos dígitos (depois do sinal "-").</p>
                <div id="div-validate-cpf">
                    <input id="validate-cpf" class="form-control input-lg mask-cpf" autofocus=""
                        placeholder="Digite o número do CPF para validar" type="text" value="" maxlength="14">
                    <span id="nv-span-icon-validate-cpf" class="form-control-feedback"></span>
                    <span id="nv-span-text-validate-cpf" class="text-muted"></span>
                </div>
                <hr>
            </div>
        </div>
        <div class="col-lg-4">
            <img src="/assets/images/adsense.png" alt="">
        </div>
    </div>
</div>