<div class="card">
    <div class="card-body">
        <h1 class="box-title">Gerar CNH - Carteira Nacional de Habilitação</h1>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="card-body">
                <p class="text-muted m-b-15 font-12">Clique no botão "Gerar CNH" para gerar quantos números válidos
                    quiser de CNH.</p>
                <app-gerar-cnh></app-gerar-cnh>
            </div>
        </div>
        <div class="col-lg-4">
            <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4731566944813042"
                crossorigin="anonymous"></script>
            <!-- 4DT-gerar-cnh-quadrado -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4731566944813042"
                data-ad-slot="6466380000" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4731566944813042"
                crossorigin="anonymous"></script>
            <!-- 4DT-gerar-cnh-horizontal -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4731566944813042"
                data-ad-slot="3502672290" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>
<app-vejatambem></app-vejatambem>
<app-queroajudar></app-queroajudar>
<app-aviso></app-aviso>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h2 class="box-title f-s-20 m-b-10">CNS: o que é e quais seus benefícios</h2>

                <p>CNS é a sigla para Cartão Nacional de Saúde, que se trata do cartão que é feito para os cidadãos que
                    utilizam o Sistema Único de Saúde, o SUS. Como em outros tipos de cartões médicos, como os de planos
                    de
                    saúde, ele possui os dados do paciente (nome, endereço, data de nascimento, nome da mãe, dentre
                    outros)
                    e são requisitados no momento de marcar uma consulta ou realizar outro tipo de procedimento.
                </p>
                <p>
                    Tendo o seu Cartão Nacional de Saúde (CNS), você terá diversos benefícios, como: agilidade no
                    atendimento ao chegar no local, não sendo necessário criar um registro novo; facilidade para
                    encontrar o
                    prontuário do paciente, por ter em mãos o número do CNS; conseguir identificar onde foi feito cada
                    procedimento, consulta, etc, além de identificação de profissionais, medicamentos, dentre outros;
                    ter
                    todos os seus atendimentos registrados; facilidade para atualizar seus dados; e demais vantagens.
                </p>
                <p>
                    Cada um de nós tem direito ao seu próprio número de CNS, ou seja, ele é único e intransferível.
                    Sendo
                    assim, tendo o número em mãos você consegue verificar tudo que precisa no Sistema Único de Saúde.
                </p>


                <h2 class="box-subtitle">Conecte SUS</h2>

                <p>O Conecte SUS é o aplicativo do SUS, onde você consegue consultar todas as suas informações
                    relacionadas
                    ao Sistema Único de Saúde. Por exemplo, ao se vacinar, essa vacina ficará registrada no seu Conecte
                    SUS.
                </p>
                <p>
                    Para acessar, basta baixar o aplicativo no seu aparelho celular e entrar com o seu login e senha.
                </p>
                <p>Feito
                    isso, você terá acesso às suas vacinas, consultas, receitas e demais informações referentes ao
                    assunto.
                </p>
                <p>
                    Com o número do seu CNS os profissionais da área poderão verificar todo seu histórico médico através
                    do
                    SUS, podendo ser útil para casos específicos e também para manter um registro geral do paciente.
                </p>
                <p>
                    Além de todas as vantagens, o Conecte SUS ainda pode substituir a sua Carteira Nacional de Saúde. Ou
                    seja, se você não estiver com o cartão físico em mãos, basta apresentar a versão digital no seu
                    aplicativo do Conecte SUS e prosseguir com o atendimento.
                </p>
                <p>
                    Esse é mais um dos documentos que estão disponíveis na versão online, assim como título de eleitor,
                    CNH,
                    carteira de trabalho, dentre outros. Além de ser prático, evita o trabalho de ter que emitir um novo
                    documento em caso de perda ou roubo. Aproveite e já baixe o seu app do Conecte SUS.
                </p>


                <h2 class="box-subtitle">Gerador de CNS</h2>

                <p>O gerador de CNS serve para a realização de testes para auxiliar nos testes de softwares e é voltado
                    para
                    quem está estudando assuntos da área, quem já trabalha com programação e analistas de dados.
                </p>
                <p>
                    É uma forma de testar o serviço que será oferecido antes de pôr no ar, evitando desgaste do
                    consumidor e
                    do próprio profissional que estará responsável pela ação.
                </p>
                <p>
                    Utilizar esses dados para realizar atividades ilegais é algo antiético e não deve ser feito em
                    nenhum
                    momento. Portanto, utilize apenas para fins educativos e para testes de softwares - que é para que
                    essa
                    funcionalidade foi idealizada.
                </p>

                <h2 class="box-subtitle">Conclusão</h2>

                <p>O Cartão Nacional de Saúde é um direito do cidadão e garante um atendimento adequado para todos,
                    principalmente para aqueles que necessitam da ajuda do governo para ter acesso aos atendimentos
                    básicos
                    para a saúde.
                </p>
                <p>
                    Agora, com a existência do Conecte SUS, ficou ainda mais fácil verificar todas as suas informações.
                </p>
                <p>
                    Ao utilizar o gerador de CNS, esteja ciente de que se trata de um material para teste e não para
                    fins
                    ilegais. Portanto, utilize com sabedoria e evite problemas futuros.
                </p>
                <p>
                    Esperamos que o nosso gerador possa lhe ajudar a realizar seus testes e concluir seus estudos. Para
                    consulta de demais números, confira na aba lateral todas as possibilidades oferecidas aqui em nosso
                    site.

                </p>
            </div>
        </div>
    </div>
</div>

<app-leiatambem></app-leiatambem>