<div class="row">

    <div class="card">

        <img class="card-img-top" src="/assets/images/aih.png" alt="Cartão de Crédito" />

        <div class="card-body">
            <h1 class="box-title f-s-18">Autorização de Internação Hospitalar (AIH)
            </h1>

            <p>A sigla AIH se refere a “Autorização de Internação Hospitalar”. Se trata de um documento único que
                auxilia na identificação do paciente relacionada a suas internações hospitalares. Dessa forma, o
                processo para acompanhar as informações de cada um que passa pela internação hospitalar fica mais fácil.
            </p>
            <p>
                Faz parte dos serviços relacionados ao Sistema Único de Saúde, o SUS, sendo que o formulário da
                Autorização de Internação Hospitalar é feito pelo SUS. Esse documento irá auxiliar também no pagamento
                referente a todos os serviços prestados através dos recursos públicos.
            </p>
            <p>
                A AIH é gerada no momento da internação do paciente, desde que o hospital em questão ofereça o
                atendimento pelo SUS, ou seja, atendimento público. Independente do mesmo hospital atender outros planos
                privados, se ele oferecer atendimento pelo SUS relacionados à internação será feito o documento de
                Autorização de Internação Hospitalar.
            </p>
            <p>
                Ele deve ser feito em toda internação feita através do SUS para que, como citamos acima, possa ser feito
                um levantamento de todos os gastos que dependem dos cofres públicos.
            </p>
            <p>
                No momento que o setor de faturamento do hospital for registrar essas internações, será feito um
                levantamento total dos gastos e o que deverá ser pago.
            </p>
            <p>
                Além de ser útil para realizar o faturamento, a Autorização de Internação Hospitalar (AIH) ajuda a
                entender qual está sendo a demanda mensal dos hospitais pelo país. Assim, ajuda a entender o quanto de
                infraestrutura é necessária, se os espaços disponibilizados estão sendo o suficiente, dentre outros
                pontos importantes que contribuem para um melhor atendimento ao cidadão.
            </p>


            <h2 class="box-subtitle">Regras para que a Autorização de Internação Hospitalar possa ser efetuada
            </h2>

            <p>Sim, existem regras para que esse documento seja gerado. Por exemplo, não é possível requisitar uma AIH
                sem ter o laudo médico do paciente em mãos. Sem o laudo não há internação, pois é preciso ter o
                encaminhamento do médico para tal ação dos demais profissionais.
            </p>
            <p>
                No laudo médico haverá todas as informações sobre o paciente, tanto pessoais quanto sobre o motivo de
                ser realizada a internação hospitalar. Não existe internar um paciente sem que seja feito um diagnóstico
                antes para entender a gravidade da situação.
            </p>
            <p>
                Tendo o laudo médico e ele constatando que o paciente precisa ser internado, e esse procedimento será
                feito através do SUS, então aí sim será possível gerar o documento de Autorização de Internação
                Hospitalar.
            </p>
            <p>
                Também são necessários outros documentos, de acordo com a situação do paciente, como ser necessário ter
                um laudo de Utilização de Órtese, Prótese e Material Especial e também o laudo de alta administrativa.
            </p>

            <h2 class="box-subtitle">Gerador do número da Autorização de Internação Hospitalar (AIH)
            </h2>
            <p>O gerador do número da Autorização de Internação Hospitalar (AIH) serve para a realização de testes para
                auxiliar nos testes de softwares e é voltado para quem está estudando assuntos da área, quem já trabalha
                com
                programação e analistas de dados.
            </p>
            <p>
                É uma forma de testar o serviço que será oferecido antes de pôr no ar, evitando desgaste do consumidor e
                do
                próprio profissional que estará responsável pela ação.
            </p>
            <p>
                Utilizar esses dados para realizar atividades ilegais é algo antiético e não deve ser feito em nenhum
                momento. Portanto, utilize apenas para fins educativos e para testes de softwares.

            </p>
            <p>
            <h2 class="box-subtitle">Conclusão</h2>

            <p>A Autorização de Internação Hospitalar é um documento importante, auxiliando a manter a ordem e fazer o
                faturamento final de cada gasto realizado por vias públicas.
            </p>
            <p>
                Ao utilizar o gerador de número da Autorização de Internação Hospitalar (AIH), esteja ciente de que se
                trata de um material para teste e não para fins ilegais. Portanto, utilize com sabedoria e evite
                problemas futuros.
            </p>
            <p>
                Esperamos que o nosso gerador possa lhe ajudar a realizar seus testes e concluir seus estudos. Para
                consulta de demais números, confira na aba lateral as possibilidades.

            </p>

        </div>
    </div>
</div>
<app-leiatambem></app-leiatambem>