<div class="card">
    <div class="card-body">
        <h2 class="box-title">Você também pode precisar de:</h2>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><a href="gerar-cpf">Gerador de CPF</a></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="gerar-cnpj">Gerador de CNPJ</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="gerar-pessoa">Gerador de Pessoa</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="gerar-cartaodecredito">Gerador de Cartao de Crédito</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="gerar-cnh">Gerador de CNH</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="gerar-pispasep">Gerador de PISPASEP</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="gerar-endereco">Gerador de Endereço</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="gerar-titulo-eleitor">Gerador de Título de Eleitor</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="gerar-senha">Gerador de Senha</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="gerar-telefone">Gerador de Telefone</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="gerar-renavam">Gerador de Renavam</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>