<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h1 class="box-title">Gostou da Iniciativa e Quero AJUDAR?</h1>
            </div>
            <p class="text-muted m-b-15 font-12">
                Primeiramente, como todo programador, sou viciado em café ☕☕☕☕ (isso é bom? Talvez não LoL).</p>
            <p class="text-muted m-b-15 font-12">Segundamente, se o conteúdo deste blog te ajudou de alguma forma,
                sinta-se livre para me pagar um
                cafézinho, caso queira, é claro.</p>

            <p class="text-muted m-b-15 font-12">Tudo que faço aqui é uma maneira de retribuir e compartilhar o
                conhecimento que adquiri ao longo da minha
                carreira, mas quem sou eu para negar um café, certo? </p>

            <p class="text-muted m-b-15 font-12">Sua ajuda vai ser convertida para manter essa ferramenta (pagando o
                domínio, por exemplo). </p>

            <p class="text-muted m-b-15 font-12">O excedente, será utilizado para comprar café mesmo.</p>

            <p class="text-muted m-b-15 font-12">Você pode utilizar o QRCODE abaixo.</p>
            <p class="text-center">
                <img src="assets/images/qr_code_pix.jpg" alt="me paga um cafe - 4devtools.com">
            </p>
        </div>
    </div>
</div>