<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h1 class="box-title">Gerador de CPF</h1>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="card-body">
                        <p class="text-muted m-b-15 font-12">Clique no botão "Gerar CPF" para gerar quantos números
                            válidos
                            quiser de CPF! Você ainda pode escolher o estado de origem e a formatação com pontuação,
                            caso
                            desejar.</p>
                        <app-gerar-cpf></app-gerar-cpf>
                    </div>
                </div>
                <div class="col-lg-4">
                    <script async
                        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4731566944813042"
                        crossorigin="anonymous"></script>
                    <!-- 4DT-gerar-cpf -->
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4731566944813042"
                        data-ad-slot="9354776535" data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <script async
                        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4731566944813042"
                        crossorigin="anonymous"></script>
                    <!-- 4DT-gerar-cpf-horizontal -->
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4731566944813042"
                        data-ad-slot="1214053321" data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
        <app-vejatambem></app-vejatambem>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2 class="box-title">CPF: o que é e qual sua função?</h2>
                <br />
                <article>
                    <p>CPF é a sigla usada para Cadastro de Pessoa Física, que existe para que cada indivíduo residente
                        do
                        território brasileiro tenha sua própria identificação.
                    </p>
                    <p>No total, são 11 números aleatórios que formam o CPF de uma pessoa física.</p>

                    <p>Até é possível mudar o número do seu Cadastro de Pessoa Física, mas para isso a decisão tem de
                        ser da justiça.</p>

                    <p>Cada indivíduo possui seu próprio número de CPF, o que faz todo sentido já que o intuito é
                        identificar cada cidadão de forma única.</p>

                    <p>Ele é emitido pela Receita Federal, sendo feito a solicitação em algum momento de sua vida e,
                        assim,
                        terá seus números contigo para sempre.</p>

                    <h3 class="box-title">Qual a função do CPF?</h3>
                    <br />

                    <p>Ele possui diversas funções, contribuindo na hora de realizar registros e inscrições. Mas, sua
                        principal função está ligada ao Imposto de Renda - que é um determinado valor pago ao governo
                        sobre seus ganhos.</p>

                    <p>O CPF irá ajudar a controlar os pagamentos, identificando cada um dos contribuintes.</p>

                    <p>Hoje, praticamente tudo que envolve um cadastro, inscrição, pedido de cartão de crédito, dentre
                        outros, depende do CPF. Por isso, ele é indispensável.</p>

                    <p>Para uma empresa de cartão, por exemplo, é através do seu CPF que eles poderão fazer a
                        verificação
                        do seu nome e constatar se você possui dívidas ou não.</p>

                    <p>Isso irá influenciar na decisão da empresa de liberar ou não o crédito para o indivíduo
                        solicitante.</p>

                    <p>CPF na nota fiscal Ao contrário do que muitos acreditam, o CPF na nota está mais relacionado com
                        o comércio do que com
                        você - como pessoa física.</p>

                    <p>Ao pedir o CPF na nota fiscal, você está contribuindo para o combate à pirataria e,
                        principalmente,
                        a sonegação de impostos por parte da empresa em que está realizando uma compra. (Exemplo: um
                        supermercado, loja de roupas, etc)</p>

                    <p>Essa iniciativa por parte do governo estadual tem ajudado a combater esses males, além de ajudar
                        a
                        controlar o Imposto sobre Circulação de Mercadorias e Serviços - conhecido como ICMS.</p>

                    <p>Além desse lado mais jurídico, o CPF na nota fiscal pode trazer diversos benefícios para o
                        consumidor.</p>

                    <p>Por exemplo, é possível oferecer descontos, concorrer a prêmios, resgate de crédito, e
                        muito mais.</p>

                    <p>Essas opções variam de acordo com o comércio, sendo algo de escolha deles.</p>

                    <h3 class="box-title">Gerador de CPF</h3>
                    <br />
                    <p>Apesar de ser algo desconhecido para a maioria das pessoas, um gerador de CPF é muito útil para a
                        realização de testes de software, dentre outros objetivos relacionados ao meio tecnológico.</p>

                    <p>Esse gerador é controlado por um algoritmo, onde ele fará uma seleção aleatória dos 11 números de
                        um
                        CPF para gerar o que você precisa. </p>

                    <p>Mas, esses números não correspondem a um CPF existente. </p>

                    <p>Você ainda pode personalizar, inserindo as pontuações ou não.</p>

                    <p>Ao utilizar o gerador de CPF é importante estar atento, pois em alguns casos pode acabar gerando
                        um número de CPF válido. </p>

                    <p>Por isso, todo cuidado é pouco e deve ser feito com extrema cautela.</p>

                    <p>Ele servirá de grande ajuda para desenvolvedores, os próprios testadores de softwares, analistas
                        de
                        sistemas, administradores de banco de dados e até mesmo estudantes de alguma dessas áreas que
                        precisam realizar testes em seus serviços.</p>

                    <h3 class="box-title">Conclusão</h3>
                    <br />

                    <p>O CPF é um dos documentos mais importantes que um brasileiro precisa ter, sendo utilizado para
                        nossa
                        identificação, realização de cadastros, utilização de benefícios e muito mais.</p>

                    <p>E aceitar inserir o CPF na nota fiscal pode trazer ainda mais segurança relacionada aos locais
                        que
                        frequentamos.</p>

                    <p>Se você utilizar o gerador de CPF acima, faça isso apenas para a realização de testes e tome
                        cuidado
                        para não estar utilizando o CPF de uma pessoa física. </p>

                    <p>O uso é de total responsabilidade do usuário e deve ser feito de forma consciente.</p>

                </article>


            </div>

        </div>



    </div>
</div>